
@{
    ViewData["Title"] = "About";
}


    <div id="banner2"></div>
   
    <div class="aboutUs">
        <h2>Over ons</h2>

        <p>
            <strong>Welkom bij BookCol.com</strong> <br />

            BookCol.com is een toonaangevende aanbieder van hotelaccommodaties in Colombia, met reservatiediensten via een eigen aanbod van hotels die we  zelf hebben gekozen na een prettige ervaring.
            Dat betekent voor jou als klant een extra garantie. <br />
            BookCol.com biedt reizigers een van de aangenaamste accommodatiekeuzes op het internet, met vooral onafhankelijke hotels maar ook grote hotelketens.
            Het bedrijf biedt een allesomvattende bron voor hotelprijzen.<br />
            Het hoofdkantoor ligt in Brugge België.

        </p>

    </div>
