@model PE3_Adriana_Kenny.web.Models.HomeIndexVM

<div id="banner"></div>

<div class="info">


    <p>
        <strong>Welkom op BookCol.com!</strong> de website waar je moet zijn als je een  <a asp-controller="Hotel" asp-action="HotelDiv">hotel</a> in Colombia wilt boeken. De hotels dat we aanbieden,
        hebben we zelf getest dat betekent dat we enkel top-kwaliteit aanbieden.<br />
        <strong>Colombia</strong> is een fascinerende bestemming die sinds kort op kleine schaal door het toerisme wordt ontdekt. Het is een land met veel gezichten.
        U vindt er o.a. besneeuwde bergtoppen, woestijnlandschappen, oerwouden, mangroven, kleine bergdorpjes en veel kleurrijke kunst.
        Daarnaast heeft Colombia een lange kustlijn met helder blauw water en mooie zandstranden waar u diverse watersporten kunt beoefenen, zoals duiken.
        Colombia staat verder nog bekend om de productie van koffiebonen, bananen en sigaren. Dit alles maakt van Colombia een must voor elke reisfanaat.<br />
        <strong>De geheime tip van Zuid-Amerika</strong><br />
        Colombia wordt steeds populairder als reisbestemming. En wij begrijpen waarom. We laten ons charmeren door de vitaliteit van de Colombianen,
        dompelen ons onder in de wereld van hoogstaande Colombiaanse koffie, ontdekken het innovatieve Medellin en ontspannen lekker in Cartagena aan de Caribische kust.
        Welkom in Colombia!
    </p>



    <div id="video">

        <iframe width="460" height="315" src="https://www.youtube.com/embed/IzRLMnu-FoU?controls=0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>

    </div>
    <div id="cardOverview">

        <h1>Populaire steden in Colombia</h1>


        @foreach (var city in Model.Cities)
        {

        <div class="CityCard">

            <a asp-controller="Hotel" asp-action="HotelByCity" asp-route-id="@city.Id">
                <img src="~/images/cities/@city.Photo" /></a>

                <h5>@city.Name</h5>
                <a asp-controller="Hotel" asp-action="HotelByCity" asp-route-id="@city.Id">Hotels</a>
                <p>@city.Description</p>
                <hr />

</div>
        }
    </div>




