@model EditRoomsVM

<form asp-action="AddRooms" method="post">



    <div class="form-group">
        <input asp-for="HotelId" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Room.RoomTypeId"></label>

        <select asp-for="Room.RoomTypeId">
            {
            @foreach (var type in Model.Roomtypes)
            {

                if (type.Id == Model.Room.RoomTypeId)
                {
                    <option selected>@type.Type </option>

                }
                else
                {
                    <option>@type.Type</option>

                }


            }
            }

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" value="@Model.Room.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PriceNight"></label>
        <input asp-for="PriceNight" value="@Model.Room.PriceNight" class="form-control" />
        <span asp-validation-for="PriceNight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Voeg kamer toe" class="btn btn-primary" />
    </div>
</form>
