
@{
    Layout = "_AdminLayout";
}

<title>HomeAdmin</title>

<h3>Welkom op de Admin pagina van BookCol.com</h3>

<p>Om bookings te raadplegen, editeren of verwijderen <a asp-controller="Booking" asp-action="Index">klik hier</a></p>

<p>Om hotels en kamers te editeren of verwijderen <a asp-controller="Hotels" asp-action="Index">klik hier</a> </p>

<p>Om klanten te raadplegen, editeren of verwijderen <a asp-controller="Clients" asp-action="Index">klik hier</a> </p>