@model AdminIndexVM


<div id="adminEditDelete">

   <p>Selecteer hotel die je wil wijzigen of verwijderen</p>

   <form id="AdminStart" asp-controller="Admin" asp-action="Index" method="post">
           <select asp-for="Id">

               @foreach (var hotel in Model.Hotels)
               {
                   <option value="@hotel.Id">@hotel.Name</option>
               }

           </select>

       <button type="submit" class="btn btn-primary">Selecteer </button>
      
   </form>
</div>

<div id="adminAdd">

 <button type="submit" class="btn btn-primary">Voeg een nieuw hotel toe</button>



</div>

