body {
    margin-bottom: 60px;
}

.DivContainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f7f8f9;
    /*font-family: 'Fondamento',cursive;*/
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    background-color: steelblue;
    color: black;
    border-radius: 15px;
    position: relative;
    height: 200px;
    margin-bottom: 30px;
}

header img {
        width: 150px;
        height:90px;
        margin: 5px;
        position:absolute;
        top:0;
        left:0;
    }

header h1 {
        margin: 10px 20px 50px 20px;
        position: absolute;
        top: 10%;
        left: 15%;
        
    }


.NavKlant {
    position: absolute;
    top: 25%;
    right: 5%;
}

.NavHome {
    position: absolute;
    top: 70%;
    left:0%;
}
.fotos {
    height: 250px;
    width: 95%;
    border-style: groove;
    border-color: #2a4f89;
    margin:15px 5px 15px 5px;
    padding:5px;

}
.fotosHotel {
    height:200px;
    width:250px;
    margin:5px 10px 5px 5px;
    float:left;
}

.fotosHotel2 {
    height: 500px;
    width: 70%;
    display: block;
    margin: auto;
    padding:0px 20px 0px 20px;
}
.containerDetails{
    padding:10px 15px 10px 15px;
}

.groen{
    color:forestgreen;
}


.miNav li a {
    color: white;
    display: block;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    
    background-color: steelblue;
    border-radius: 20px;
}

.miNav li {
    display: inline-block;
    text-decoration: none;
}
.miNav li a:hover, .verticalList li a:active {
        background-color: #759ad6;
        color: #eaedf2;
    }
.dropdown-menu a {
    background-color: #2a4f89;
    color: white;
}
p {font-size:14px;
   width:95%;
}

.imagenHotelDetails{
    margin:20px 5px 20px 5px;
}


.CityCard {
    width: 250px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: top;
}

    .CityCard:hover {background-color:aliceblue;}

    .CityCard img {width: 250px;
                   height: 250px;
                   overflow:hidden;
                   margin-bottom:20px;
                   border: 1px solid;
    }

    .CityCard h3 {text-align: right;

    }

    .info p {width:500px;
             display:inline-block;
             vertical-align:top;
    }

   
    .info #video {display:inline-block;
                  margin-left:50px;
    }

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: steelblue;
    color: black;
    border-radius: 15px;
    height: 200px;
    margin-top: 30px;
    width:100%;
    float:left;
}

footer div {
        flex-basis: 30%;
 
    }

   #RegisterForm {margin-bottom: 20px;
                  width: 600px;
                  margin: 0 auto;
                  border: 0.5px solid;
                  text-align: center;
   }


#filter {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    /*height:900px;*/
    float:left;
}

#hotellist {
    width: 75%;
    display: inline-block;
    float:left;
}


   .form-control {width: 250px;
                  margin: 0 auto;
   }

   .titel {margin-left: 200px;}


   .check {height: 15px;
           width: 15px;
           margin-left:0;
           display:inline-block;
           margin-right:10px;
   }

   .btn {margin: 10px 15px;
        
   }


   #adminEditDelete {display:inline-block;}

   #adminAdd {display:inline-block;
              vertical-align:top;
              margin-top: 60px;
   }