.mi_master {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f7f7f7
    /*font-family: 'Fondamento',cursive;*/
}


header {
    background-color: #738fbc;
    color: black;
    border-radius: 15px;
    position: relative;
    height: 200px;
}

header img {
        width: 150px;
        height:90px;
        margin: 5px;
        position:absolute;
        top:0%;
        left:0%;
    }

header h1 {
        margin: 10px 20px 50px 20px;
        position: absolute;
        top: 10%;
        left: 15%;
        
    }


.NavKlant {
    position: absolute;
    top: 25%;
    right: 5%;
}

.NavHome {
    position: absolute;
    top: 70%;
    left:0%;
}


.miNav li a {
    color: black;
    display: block;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-style: groove;
    background-color: #dee8f7;
    border-radius: 20px;
}

.miNav li {
    display: inline-block;
    text-decoration: none;
}



.miNav li a:hover, .verticalList li a:active {
        background-color: #e0e0d2;
        color: #eaedf2;
    }

p {font-size:14px;}   




.CityCard {width: 250px;
               margin-right: 100px;
               display: inline-block;
               vertical-align:top;
    }

    .CityCard:hover {background-color:aliceblue;}

    .CityCard img {width: 250px;
                   height: 250px;
                   overflow:hidden;
                   margin-bottom:20px;
                   border: 1px solid;
    }

    .CityCard h3 {text-align: right;

    }

    .info p {width:500px;
             display:inline-block;
             vertical-align:top;
    }

   
    .info #video {display:inline-block;
                  margin-left:50px;
    }
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #738fbc;
    color: black;
    border-radius: 15px;
    height: 200px;
}

    footer div {
        flex-basis: 30%;
    }

