p {font-size:14px;}   




.CityCard {width: 250px;
               margin-right: 100px;
               display: inline-block;
               vertical-align:top;
    }

    .CityCard:hover {background-color:aliceblue;}

    .CityCard img {width: 250px;
                   height: 250px;
                   overflow:hidden;
                   margin-bottom:20px;
                   border: 1px solid;
    }

    .CityCard h3 {text-align: right;

    }

    .info p {width:500px;
             display:inline-block;
             vertical-align:top;
    }

   
    .info #video {display:inline-block;
                  margin-left:50px;
    }

    footer {clear:both;}