@model HotelFilterHotelVM


<form id="FilterHotels" asp-controller="Home" asp-action="FilterHotel" method="post">
    <div class="form-group">
        <label asp-for="Stad">Stad</label><br />
        <input asp-for="Stad" type="checkbox" value="Bogota" name="Stad" class="form-control check"><label for="Bogota">Bogota</label><br />
        <input asp-for="Stad" type="checkbox" value="Cartagena"name="Stad" class="form-control check">Cartagena<br />
        <input asp-for="Stad" type="checkbox" value="Medellin" name="Stad" class="form-control check">Medellin<br />
        <input asp-for="Stad" type="checkbox" value="San Andres" name="Stad" class="form-control check">San Andres<br />
        <input asp-for="Stad" type="checkbox" value="Santa Marta" name="Stad" class="form-control check">Santa Marta<br />

    </div>
</form>