
    <ul class="miNav">
        <li><a asp-controller="Home" asp-action="RegisterForm" class="nav-link">Registreren</a></li>
        <li><a asp-controller="Home" asp-action="LoginForm">Inloggen</a></li>

    </ul>

