@model HotelFilterHotelVM

<h3>Filter</h3>
<form id="FilterHotels" asp-controller="Hotel" asp-action="HotelByCityFilter" method="post">
    <div class="form-group">
        <label asp-for="CityId"><strong>Stad</strong></label><br />

        @foreach (var city in Model.Cities)
        {
            <input asp-for="@Model.CityId" type="radio" value="@city.Id" name="CityId"  class="form-control check" />@city.Name 
            <br />
        }
        
        </div>

    <div class="form-group">


        <label asp-for="AmountStars"><strong>Sterren</strong></label><br />
        @for (int i = 2; i < 6; i++)
        {
            <input asp-for="AmountStars" type="radio" value="@i" /><img src="~/images/sterren/@(i).jpg" /><br />
        }
        @*<input asp-for="StarsChecked[0]" type="checkbox" /><img src="~/images/sterren/2.jpg" /><br />
        <input asp-for="StarsChecked[1]" type="checkbox" /><img src="~/images/sterren/3.jpg" /><br />
        <input asp-for="StarsChecked[2]" type="checkbox" /><img src="~/images/sterren/4.jpg" /><br />
        <input asp-for="StarsChecked[3]" type="checkbox" /><img src="~/images/sterren/5.jpg" /><br />*@

    </div>

        <button type="submit" class="btn btn-primary">Filter</button>
</form>