@model HotelFilterHotelVM


<form id="FilterHotels" asp-controller="Hotel" asp-action="HotelByCityFilter" method="post">
    <div class="form-group">
        <label asp-for="CityId">Stad</label><br />

        @foreach (var city in Model.Cities)
        {
            <input asp-for="@city.Id" type="radio" value="@city.Id" name="CityId" class="form-control check" />@city.Name
            <br />
    }
        
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>